In [1]:
 cd C:\Users\TranTung\Desktop\DuLieu

C:\Users\TranTung\Desktop\DuLieu

In [2]:
import pandas as pd
pd.read_csv('Data_GiaVangSJC.csv')

,Thang,GiaMua(NgayCuoiThang)(NghinVND/Chi),GiaBan(NgayCuoiThang)(NghinVND/Chi)
0,7/1/2018,55400,55480
1,7/2/2018,43350,46240
2,7/3/2018,44750,45640
3,7/4/2018,44790,44300
4,7/5/2018,36640,36790
5,7/6/2018,36570,36770

In [3]:
data=pd.read_csv('Data_GiaVangSJC.csv')

In [4]:
tseries=data['GiaBan(NgayCuoiThang)(NghinVND/Chi)']

In [5]:
X = tseries.values
chieudai=len(X)

In [6]:
chieudai

6

In [7]:
X

array([55480, 46240, 45640, 44300, 36790, 36770], dtype=int64)

In [8]:
X = tseries.values
size = int(len(X) * 0.67)
size

train, test = X[0:size], X[size:len(X)]

In [9]:
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
import matplotlib.pylab as plt
from matplotlib import pyplot
history = [x for x in train.astype(float)]
predictions = list()
for t in range(len(test)):
    model = ARIMA(history, order=(1,1,0))
    model_fit = model.fit(disp=0)
    output = model_fit.forecast()
    yhat = output[0]
    predictions.append(yhat)
    obs = test[t]
    history.append(obs)
    print('predicted=%f, expected=%f' % (yhat, obs))
    
error = mean_squared_error(test, predictions)
print('Test MSE: %.3f' % error)
print(model_fit.summary())
# plot
pyplot.plot(test)
pyplot.plot(predictions, color='red')
pyplot.show()
residuals = pd.DataFrame(model_fit.resid)
print(residuals.describe())

C:\Users\TranTung\Anaconda3\envs\py27\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

predicted=40083.298539, expected=36790.000000
predicted=34977.667823, expected=36770.000000
Test MSE: 7029134.951
                             ARIMA Model Results
==============================================================================
Dep. Variable:                    D.y   No. Observations:                    4
Model:                 ARIMA(1, 1, 0)   Log Likelihood                 -38.283
Method:                       css-mle   S.D. of innovations           3309.008
Date:                Tue, 10 Jul 2018   AIC                             82.565
Time:                        20:25:52   BIC                             80.724
Sample:                             1   HQIC                            78.525

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3861.1409   1334.646     -2.893      0.102   -6476.998   -1245.284
ar.L1.D.y     -0.5615      0.569     -0.987      0.428      -1.677       0.554
                                    Roots
=============================================================================
                 Real           Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           -1.7810           +0.0000j            1.7810            0.5000
-----------------------------------------------------------------------------

C:\Users\TranTung\Anaconda3\envs\py27\lib\site-packages\statsmodels\tsa\tsatools.py:584: RuntimeWarning: overflow encountered in exp
  newparams = ((1-np.exp(-params))/
C:\Users\TranTung\Anaconda3\envs\py27\lib\site-packages\statsmodels\tsa\tsatools.py:585: RuntimeWarning: overflow encountered in exp
  (1+np.exp(-params))).copy()
C:\Users\TranTung\Anaconda3\envs\py27\lib\site-packages\statsmodels\tsa\tsatools.py:585: RuntimeWarning: invalid value encountered in divide
  (1+np.exp(-params))).copy()
C:\Users\TranTung\Anaconda3\envs\py27\lib\site-packages\statsmodels\tsa\tsatools.py:586: RuntimeWarning: overflow encountered in exp
  tmp = ((1-np.exp(-params))/
C:\Users\TranTung\Anaconda3\envs\py27\lib\site-packages\statsmodels\tsa\tsatools.py:587: RuntimeWarning: overflow encountered in exp
  (1+np.exp(-params))).copy()
C:\Users\TranTung\Anaconda3\envs\py27\lib\site-packages\statsmodels\tsa\tsatools.py:587: RuntimeWarning: invalid value encountered in divide
  (1+np.exp(-params))).copy()
C:\Users\TranTung\Anaconda3\envs\py27\lib\site-packages\statsmodels\tsa\kalmanf\kalmanfilter.py:646: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if issubdtype(paramsdtype, float):
C:\Users\TranTung\Anaconda3\envs\py27\lib\site-packages\statsmodels\tsa\kalmanf\kalmanfilter.py:650: FutureWarning: Conversion of the second argument of issubdtype from `complex` to `np.complexfloating` is deprecated. In future, it will be treated as `np.complex128 == np.dtype(complex).type`.
  elif issubdtype(paramsdtype, complex):
C:\Users\TranTung\Anaconda3\envs\py27\lib\site-packages\statsmodels\tsa\kalmanf\kalmanfilter.py:577: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if issubdtype(paramsdtype, float):

                 0
count     4.000000
mean   -754.729370
std    4108.577089
min   -5378.859115
25%   -3019.656971
50%    -996.153450
75%    1268.774150
max    4352.248535