In [1]:
import pandas as pd
from scipy import stats

In [2]:
cd C:\Users\TranTung\Desktop\DuLieu

C:\Users\TranTung\Desktop\DuLieu

In [3]:
GDP = pd.read_csv('Data_GDPVietNam.csv')
GDP.head()

   Year  GDP(USD)
0  1994    220.31
1  1995    275.75
2  1996    322.86
3  1997    346.58
4  1998    346.83

In [4]:
GDP

    Year  GDP(USD)
0   1994    220.31
1   1995    275.75
2   1996    322.86
3   1997    346.58
4   1998    346.83
5   1999    361.29
6   2000    388.27
7   2001    402.83
8   2002    427.84
9   2003    477.99
10  2004    543.87
11  2005    683.60
12  2006    779.97
13  2007    901.32
14  2008   1143.27
15  2009   1210.69
16  2010   1310.37
17  2011   1515.48
18  2012   1722.68
19  2013   1871.33
20  2014   2012.05
21  2015   2065.17
22  2016   2170.65
23  2017   2343.12

In [5]:
one_sample_data = GDP['GDP(USD)']
df=one_sample_data.count()-1
one_sample = stats.ttest_1samp(one_sample_data,2000)
print one_sample

Ttest_1sampResult(statistic=-6.946022249267605, pvalue=4.426861272749156e-07)

In [6]:
import matplotlib.pyplot as pl
x = GDP['Year']
y = GDP["GDP(USD)"]
pl.xlabel('Year')
pl.ylabel('GDP')
pl.title('VietNam GDP 1990 - 2017')
pl.plot(x, y)
pl.show()